.home {
    background-color: hsl(219, 48%, 8%);
}

.homeCanvas {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../images/Home/space.png');
    background-size: 110%;
    background-position: center;
}

.homeContainer {
    background-color: white;
    padding-top: 4vmax;
    border-radius: 0 0 200px 200px;
    border-bottom: 200px solid white;
    position: relative;
    z-index: 1;
}

.homeContainer>h3 {
    text-align: center;
    color: rgb(22, 20, 20);
    padding: 4vmax;
}

.homeSkills {
    height: 1000px;
    position: relative;
    padding: 0 200px;
    box-sizing: border-box;
    perspective: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    z-index: 0;
}

.homeSkills>h3 {
    text-align: center;
    color: white;
    margin-bottom: 4vmax;
    font-size: 4vmax;
}

.homeCubeSkills {
    width: 220px;
    height: 220px;
    animation: cubeRotation 15s linear infinite alternate;
    transform-style: preserve-3d;
}

.homeCubeSkillsFaces {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: absolute;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    border-radius: 20px;
    background-color: white;
}

.homeCubeSkillsFaces>img {
    width: 95%;
    height: 95%;
    border-radius: 20px;
}

.homeCubeSkillsFace1 {
    transform: translate3d(0, 0, 120px);
}

.homeCubeSkillsFace2 {
    transform: rotateY(180deg) translate3d(0, 0, 120px);
}

.homeCubeSkillsFace3 {
    transform: rotateY(-90deg) translate3d(0, 0, 120px);
}

.homeCubeSkillsFace4 {
    transform: rotateY(90deg) translate3d(0, 0, 120px);
}

.homeCubeSkillsFace5 {
    transform: rotateX(90deg) translate3d(0, 0, 120px);
}

.homeCubeSkillsFace6 {
    transform: rotateX(-90deg) translate3d(0, 0, 120px);
}

.cubeShadow {
    width: 300px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.071);
    border-radius: 50%;
    animation: cubeShadow 1s ease-in-out infinite alternate;
    filter: blur(3px);
}

@keyframes cubeRotation {
    to {
        transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
    }
}

@keyframes cubeShadow {
    to {
        transform: scale(1.2) translateY(-10px);
    }
}

.stopAnimationOnHover {
    animation-play-state: paused;
    cursor: pointer;
}

.homeSkillsBox {
    background-color: hsl(250, 100%, 75%);
    padding: 0 2vmax;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    right: -300px;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.homeSkillsBox>svg {
    font-size: 5vmax;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    margin: 10px;
    cursor: pointer;
}

.homeSkillsBox>svg:hover {
    transform: scale(1.5);
}

@keyframes homeSkillsBoxAnimationOn {
    from {
        right: -300px;
    }

    to {
        right: 40px;
    }
}

@keyframes homeSkillsBoxAnimationOff {
    from {
        right: 40px;
    }

    to {
        right: -300px;
    }
}

.homeYoutube {
    background-color: white;
    padding-top: 4vmax;
    border-radius: 20% 20% 0 0;
    position: relative;
    box-sizing: border-box;
    min-height: 1000px;
}

.homeYoutube>h3 {
    text-align: center;
    color: rgba(22, 20, 20, 0.904);
    padding: 4vmax;
}

.homeYoutubeWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vmax;
    width: 80%;
    margin: auto;
}